<h3>Create Apartment</h3>
<div [hidden]="submitted">
  <form (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="form-group col-md-4">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="apartment.name" name="name">
      </div>

      <div class="form-group col-md-4">
        <label for="name">Location</label>
        <input type="text" class="form-control" id="location" required [(ngModel)]="apartment.location" name="location">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-4">
        <label for="name">No. Of Bedrooms</label>
        <input type="number" class="form-control" id="noOfBeds" required [(ngModel)]="apartment.noOfBeds" name="noOfBeds">
      </div>

      <div class="form-group col-md-4">
        <label for="name">No Of Bathrooms</label>
        <input type="number" class="form-control" id="noOfBaths" required [(ngModel)]="apartment.noOfBaths"
          name="noOfBaths">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-4">
        <label for="name">Total Area</label>
        <input type="number" class="form-control" id="totalArea" required [(ngModel)]="apartment.totalArea"
          name="totalArea">
      </div>

      <div class="form-group col-md-4">
        <label for="name">Area Of Each Bedroom</label>
        <input type="number" class="form-control" id="areaOfBed" required [(ngModel)]="apartment.areaOfBed"
          name="areaOfBed">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-4">
        <label for="name">Area Of Each Bathroom</label>
        <input type="number" class="form-control" id="areaOfBath" required [(ngModel)]="apartment.areaOfBath"
          name="areaOfBath">
      </div>

      <div class="form-group col-md-4">
        <label for="name">Price</label>
         <div class="input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text">$</span>
            </div>
            <input type="number" class="form-control" id="price" required [(ngModel)]="apartment.price" name="price">
            
            </div>
      </div>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You have submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newApartment()">Add</button> -->
</div>